html {
  scroll-behavior: smooth;
}

:root {
  line-height: 1.5;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  /* Background */
  background-color: wheat;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  /* Display */
  margin: 0;

  /* Text */
  font-family: "Special Elite";
}

.navbar {
  /* Background */
  background-image: url("assets/yashbanner.jpeg");
  background-size: cover;
  background-position: center;

  /* Text */
  color: white;
  text-align: center;
}

.navbar-body {
  /* Display */
  align-content: space-between;
  display: inline-flex;
  justify-content: center;
  text-align: center;
  width: 100vw;

  /* Border */
  border-bottom: 5px solid brown;
}

.nav-item {
  /* Display */
  cursor: pointer;
  flex-grow: 0.15;
  margin: 5px;
}

.page-section {
  /* Display */
  margin-bottom: 10%;
  margin-left: 2%;
  padding: 10px;

  /* Text */
  color: black;
  text-align: left;
}

h3 {
  /* Text */
  text-decoration: underline;
}

.custom-anchor {
  /* Text */
  color: black;
}

standard-anchor {
  /* Text */
  color: blue;
  text-decoration: none;
}

.course-review-image {
  /* Background */
  background-color: white;

  /* Border */
  border: 5px solid brown;

  /* Display */
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 400px;
  padding: 10px;
  width: 350px;
}

.grid {
  /* Display */
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movie-grid {
  /* Display */
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.site-button {
  /* Background */
  background-color: brown;

  /* Border */
  border-radius: 15px;

  /* Display */
  cursor: pointer;
  padding: 1px;

  /* Text */
  color: white;
  font-size: 20px;
}

.sorting-options-menu {
  /* Background */
  background-color: brown;

  /* Display */
  /* align-items: center; */
  cursor: pointer;
  /* display: inline-flex;
  justify-content: center; */
  margin-bottom: 3%;
  padding: 5px;

  /* Text */
  color: white;
  text-align: center;
}

.posters-dashboard {
  /* Display */
  align-items: center;
  display: inline-flex;
  justify-content: center;

  /* Text */
  text-align: center;
}

.movietv-poster {
  /* Display */
  height: 400px;
  width: 275px;
}

.movietv-review-image {
  /* Background */
  background-color: #b19a7a;

  /* Border */
  border: 5px solid #906e3e;

  /* Display */
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 500px;
  padding: 10px;
  width: 325px;
}

.summary-card-body {
  /* Border */
  border: 2.5px solid black;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;

  /* Display */
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  margin: 1vw;
}

.summary-card-footer {
  /* Background */
  background-color: brown;

  /* Display */
  padding-bottom: 10px;
  padding-top: 10px;
  width: 15vw;

  /* Text */
  color: white;
  text-align: center;
  word-wrap: break-word
}

.summary-thumbnail {
  /* Border */
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;

  /* Display */
  height: 10vw;
  width: 15vw;
}

.portfolio-page-section {
  /* Display */
  padding: 10px;
}

.portfolio-card {
  /* Background */
  background-color: brown;

  /* Border */
  border-radius: 10px;

  /* Display */
  align-items: center;
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  display: block;
  justify-content: center;
  margin: 30px;
  padding: 20px;

  /* Text */
  color: white;
}

.portfolio-card-header {
  /* Background */
  background-color: white;

  /* Border */
  border-radius: 5px;

  /* Text */
  color: brown;
  padding: 1px;
  text-align: center;
}

.portfolio-card-link {
  /* Text */
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.portfoliopost-page-image {
  /* Display */
  height: auto;
  width: 100%;
}

.title-card {
  /* Border */
  border: 1.5px solid black;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;

  /* Display */
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  display: inline-flex;
  margin-bottom: 3%;
}

.title-card-body {
  /* Background */
  background-color: brown;

  /* Border */
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;

  /* Display */
  width: 50vw;

  /* Text */
  color: white;
  text-align: center;
}

.title-card-tab {
  /* Background */
  background-color: white;

  /* Display */
  width: 100px;
}

.youtube-iframe {
  /* Border */
  border-radius: 15px;

  /* Display */
  box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  height: 400px;
  width: 800px;
}

/* Small devices (phones) */

@media only screen and (max-width: 600px) {
  .navbar-heading {
    font-size: 30px;
  }
  .nav-item {
    font-size: 15px;
  }

  /* .intro-section {
    margin-top: 25%;
  } */

  h3 {
    font-size: 30px;
  }

  .grid {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .summary-card-body {
    width: 75vw;
  }
  .summary-card-footer {
    width: 75vw;
  }
  .summary-thumbnail {
    height: 30vw;
    width: 75vw;
  }

  .title-card {
    width: 90vw
  }

  .title-card-body {
    width: 90vw;
    font-size: 10px;
  }

  .youtube-iframe {
    height: 200px;
    width: 400px;
  }
}

/* Medium devices (landscape tablets, 600px and up) */
@media only screen and (min-width: 600px) {
  .navbar-heading {
    font-size: 50px;
  }
  .nav-item {
    font-size: 25px;
  }

  /* .intro-section {
    margin-top: 20%;
  } */

  h3 {
    font-size: 40px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .navbar-heading {
    font-size: 60px;
  }
  .nav-item {
    font-size: 35px;
  }

  /* .intro-section {
    margin-top: 20%;
  } */

  h3 {
    font-size: 40px;
  }
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
